<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="buylist">

<select id="sequence" resultType="int">
	select buy_list_seq.nextval from dual
</select>


<insert id="ready" parameterType="BuyListDto">
	insert into buy_list values(
		#{buyNo},
		#{buyPaymentTid},
		#{clientNo},
		#{productNo},
		'준비',
		sysdate
	)
</insert>

<update id="approve" parameterType="int">
		update buy_list 
		set buy_payment_status='승인'
		where buy_no = #{buyNo}
	</update>

<select id="get" parameterType="int" resultType="BuyListDto">
	SELECT * FROM BUY_LIST WHERE buy_NO =#{buyNo}
</select>

<!-- 월별 결제 건수 조회 -->
<select id="buy-count" resultType="ClientJoinBuyCountVO">
	select 
		    (select count(*) from buy_list where to_char(buy_payment_date, 'YY-MM') in ('21-01')) jan,
		    (select count(*) from buy_list where to_char(buy_payment_date, 'YY-MM') in ('21-02')) feb,
		    (select count(*) from buy_list where to_char(buy_payment_date, 'YY-MM') in ('21-03')) mar,
		    (select count(*) from buy_list where to_char(buy_payment_date, 'YY-MM') in ('21-04')) apr,
		    (select count(*) from buy_list where to_char(buy_payment_date, 'YY-MM') in ('21-05')) may,
		    (select count(*) from buy_list where to_char(buy_payment_date, 'YY-MM') in ('21-06')) jun,
		    (select count(*) from buy_list where to_char(buy_payment_date, 'YY-MM') in ('21-07')) jul,
            (select count(*) from buy_list where to_char(buy_payment_date, 'YY-MM') in ('21-08')) aug,
            (select count(*) from buy_list where to_char(buy_payment_date, 'YY-MM') in ('21-09')) sep,
            (select count(*) from buy_list where to_char(buy_payment_date, 'YY-MM') in ('21-10')) oct,
            (select count(*) from buy_list where to_char(buy_payment_date, 'YY-MM') in ('21-11')) nov,
            (select count(*) from buy_list where to_char(buy_payment_date, 'YY-MM') in ('21-12')) dec
		from dual
</select>
</mapper>