<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cast">
	
	<insert id="regist" parameterType="CastDto">
		<foreach collection="list" item="CastDto" separator=" " open="insert all" close="select * from dual">
				into cast values(
				#{CastDto.contentNo},
				#{CastDto.castName}
				)
		</foreach>
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from cast where content_no = #{contentNo}
	</delete>
	
	<!-- 조건(문자열 위치) 검색(배우명) -->
	<select id="search" parameterType="string" resultType="CastListVO">
		select 
   			 C.content_no, C.content_thumbnail, CA.cast_name
		from
    		content C
	    inner join cast CA on C.content_no = CA.content_no
	    where instr(cast_name, #{keyword}) > 0
	</select>
	
</mapper>