<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="homeSlider"> 
	<select id="list" resultType="HomeSliderDto">
		select * from home_slider
	</select>
	
	<update id="update" parameterType="map">
		update home_slider set 
			home_slider_title = #{sliderTitle},
			home_slider_type = #{contentType},
			home_slider_condition = #{type},
			home_slider_keyword = #{keyword}
		where home_slider_no = #{homeSliderNo}
	</update>
	
	<insert id="insert" parameterType="map">
		insert into home_slider values(
			home_slider_seq.nextval, #{sliderTitle}, #{contentType}, #{type}, #{keyword})
	</insert>
</mapper>









