<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="program-feature">

	<insert id="insert" parameterType="string">
		insert into program_feature values(program_feature_seq.nextval, #{featureName})
	</insert>
	
	<select id="list" resultType="ProgramFeatureDto">
		select * from program_feature order by feature_name asc
	</select>
	
	<select id="search" resultType="ProgramFeatureDto">
		select * from program_feature where instr(feature_name,#{featureName})>0
	</select>
	
	<delete id="delete" parameterType="string">
		delete from program_feature where feature_name=#{featureName}
	</delete>
	
	<update id="edit" parameterType="ProgramFeatureDto">
		update program_feature set feature_name=#{newFeatureName} where feature_name=#{featureName}
	</update>
	 
</mapper>











