@charset "UTF-8";
html, body{
	height: 100% !important;
}

body{
	margin: 0 !important;
	padding: 0 !important;
}

.footer-push{
	height: 256px;
}

@media (min-width: 600px){
	.custom-top-container{
		height: 212px;
		margin: 0 !important;
		padding: 0 !important;
	    background: url(https://help.nflxext.com/helpcenter/8a24fa196ad2c8ad38e1c8c359406dd6.jpg) no-repeat 50% #000;
	    background-size: cover;
	}
}

@media (max-width: 599px){
	.custom-top-container{
		height: 186px;
		margin: 0 !important;
		padding: 0 !important;
	    background-color: black;
	}
}

@media (min-width: 600px){
	.overlay{
	   	position: absolute;
	    z-index: 0;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: linear-gradient(90deg,#000 18.06%,transparent 58.65%),rgba(0,0,0,.25)/*!rtl:end:ignore*/;
	}
}

.global-div{
	min-height: 100%;
	margin-bottom: -256px;
}

.custom-inner-container{
	max-width: 1300px;
	width: 100%;
	margin: auto;
}

.custom-a-tag{
	text-decoration: none;
}

.cumstom-help-dropdown a:hover{
	text-decoration: underline !important;
}



.custom-middle-container{
	background-color: #fafafa;
	border-bottom: 1px solid #dedede;
	padding: 32px 48px 0px 48px;	
}

.mainLogo{
	display: inline;
	width: 125px;
}

.subLogo{
	display: none;
}

.logo-wrapper{
	text-align: center;
	padding: 0px 0 10px 5px;
}

.logo-wrapper a{
	color: white;
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;
}

.search-wrapper{
	text-align: center;
}

.input-group{
    margin: auto;
	height: 48px;
}

.cumstom-help-dropdown{
	margin: 15px 0 0 0 !important;
    padding: 10px 18px 10px 0px;
}

.cumstom-help-dropdown a:hover{
	background-color: inherit;
	text-decoration: underline;
}

.cumstom-help-dropdown li:hover{
	background-color: white;
}

.cumstom-help-dropdown a:after {
    background: url(https://help.nflxext.com/helpcenter/5177e9cd4c72a1773b001f7bfa929ffb.svg);
    background-position: 50%;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
}

.cumstom-help-dropdown a:hover:after{
	animation-name: slideRight;
	animation-duration: .3s;	
}

input[type="text"]:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;    
}

.input-group-text, #form-control-search{
	outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.help-card-wrapper{
	padding: 0;	
	margin: 0 -8px;
}

.help-card{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 16px rgb(0 0 0 / 10%);	    
    margin: 0 8px 0px 8px;
    padding: 16px;
    
    display: flex;
}

.help-card a{
	text-decoration: none;
	color: black;	
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.help-card span{
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
}

.help-card span:hover{
	text-decoration: underline;
	color: #e50914;
}

.help-card i{
	font-size: 20px;
}

.custom-middle-second-container{
	padding-bottom: 40px;
}

.categories{
	width: 80%;
}

.category{
	width: 25%;
	margin: 0 12px;
}

.category:first-child{
	margin-left: 0 !important;
}

.quick-links{
	width: 20%;
}

.custom-bottom-container{
	padding: 48px 48px 32px 48px;	
	margin: 0 ;
	min-height: 360px;	
	display: block !important;
}

.custom-bottom-container ul{
	list-style: none;
	padding: 0;
}

.custom-bottom-container li{
	margin: 0 0 16px;
}

.custom-bottom-container a{
	text-decoration: none;
	color: #4c4948;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	padding-right: 24px;
	word-break: keep-all;
	display: block;
	text-overflow: ellipsis;
}

.custom-bottom-container a:hover{
	text-decoration: underline;
	color: #e70914;
}

.category h2, .quick-links h2{
	font-size: 22px;
	font-weight: 700;
	line-height: 32px;
	margin: 0 0 24px 0;
}

.quick-links li{
	position: relative;
}

.quick-links a:after {
	display: block;
    background: url(https://help.nflxext.com/helpcenter/5177e9cd4c72a1773b001f7bfa929ffb.svg);
    background-position: 50%;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
    right: 0;
    top: 0;
}

.quick-links a:hover:after{
	animation-name: slideRight;
	animation-duration: .3s;
}


@keyframes slideRight{
	0%{
		transform: translateX(0px);
	}
	50%{
		transform: translateX(4px);
	}
	100%{
		transform: translateX(0px);
	}
}

.custom-bottom-container .custom-inner-container{
	padding: 0;	
}

.show{
	display: block;
}

.hide{
	display: none;
}

.search-wrapper form{
	padding-bottom: 16px;
}

@media (max-width: 1344px){
	.categories{
		width: 66.66%;
		flex-wrap: wrap;
	}
	
	.quick-links {
	    width: 33.33%;
	}
	
	.category{
		margin: 0 20px 40px 20px;
		flex:0 0 44%;
	}
	
	.category:nth-child(1), .category:nth-child(3) {
		margin-left: 0 !important;
	}
}

@media (max-width: 1200px){
	.custom-bottom-container{
		padding: 48px 32px 32px 32px;	
	}
	.custom-top-container > .custom-inner-container{
		padding: 0 32px;
	}
}

@media (max-width: 900px){
	.custom-inner-container{
		flex-wrap: wrap;	    
	}
	.categories{
		width: 100%;
		justify-content: space-between;
	}
	
	.quick-links {
	    flex:0 0 46%;
	}
	
	.category{
		flex:0 0 46%;
	}
	
	.category:nth-child(2), .category:nth-child(4) {
		margin-right: 0 !important;
	}
		
	.category li{
		position: relative;
	}
	
	.category a:after {
		display: block;
	    background: url(https://help.nflxext.com/helpcenter/5177e9cd4c72a1773b001f7bfa929ffb.svg);
	    background-position: 50%;
	    content: "";
	    height: 24px;
	    position: absolute;
	    width: 24px;
	    right: 0;
	    top: 0;
	}
	
	.category a:hover:after{
		animation-name: slideRight;
		animation-duration: 0.3s;
	}
	
	.custom-bottom-container a{
		font-size: 17px;
		line-height: 28px;
	}
		
	.category h2, .quick-links h2{
		font-size: 24px;
	}
	
	.custom-top-container > .custom-inner-container{
		padding: 0 32px;
	}
}

@media (min-width: 1200px){
	.custom-top-container > .custom-inner-container{
		padding: 24px 48px 0 48px;
	}
}

@media (min-width: 601px) and (max-width: 1199px){
	.custom-top-container > .custom-inner-container{
		padding-top: 24px;
	}
	
	.custom-middle-container{
		padding: 32px 32px 0px 32px; 
	}	
	
	.help-card{
		width: 33.33%;
	}
}

@media (max-width: 750px){
	.help-card{
		width: 100%;
	    flex-shrink: 0;
    	margin-right: 0;
	}
	
	.help-card-wrapper{
		flex-wrap: wrap !important;
	}
	
	.help-card{	    
	    margin: 0 8px 16px 8px;
	}
}

@media (max-width: 600px){
	.custom-top-container .custom-inner-container{
		padding: 22px 8px 0 8px;
	}
	
	.mainLogo{
		display: none;
	}	
	
	.overlay{
		display: none;
	}
	
	.subLogo{
		display: inline;
	}
	
	.logo-wrapper{
		text-align: left;
	}	
	
	.input-group{
		width: 100% !important;
	}
	
	.custom-middle-container{
		padding: 24px 16px 0px 16px;
	}
		
	.custom-middle-second-container{
		padding-bottom: 16px;
	}
	
	.category{
		flex:0 0 100%;
		margin: 0 0 40px 0;
	}
	
	.quick-links{
		flex:0 0 100%;
		margin: 0 0 40px 0;
	}
}

@media (min-width: 600px) and (max-width: 900px){
	.search-wrapper form{
		max-width: 70%;
	}
}

@media (min-width: 600px){
	.search-wrapper form{
		max-width: 65%;
	    margin: 0 auto;
	    padding-bottom: 32px;
	}
}
