@charset "UTF-8";

.noBorderHeader {
    background-color: transparent;
    border-bottom: 0;
    position: relative;
}

.nfHeader {
    background-color: #f3f3f3;
    border-bottom: solid 1px #ccc;
    height: 90px;
}

.nfHeader.signupBasicHeader {
    height: 75px;
}

.svg-nfLogo.signupBasicHeader {
    margin-left: -9px;
    margin-top: 0px;
}

.svg-nfLogo {
    text-decoration: none;
    vertical-align: middle;
    fill: #e50914;
    display: inline-block;
    line-height: 90px;
}

.svg-nfLogo .svg-icon-netflix-logo {	    
	 width: 153px;
	 padding-top: 11px;
	 padding-left: 28px;
}

@media screen and (max-width: 740px){
	.nfHeader.signupBasicHeader {
	    height: 75px;
	}	
}

@media screen and (max-width: 500px){
	.nfHeader.signupBasicHeader {
	    height: 45px;
	}
	.svg-nfLogo .svg-icon-netflix-logo {	    
	    width: 110px;
	}
	.svg-nfLogo {
	    line-height: 45px;
	}
}