@charset "UTF-8";
.netflix-sans-font-loaded {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.basicLayout.simplicity {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 0;
}

div.basicLayout .nfHeader {
    border-bottom: 1px solid #e6e6e6;
}

div.basicLayout .nfHeader, div.basicLayout .simpleContainer {
    background-color: #fff;
}
.nfHeader.signupBasicHeader {
    height: 75px;
}
.noBorderHeader {
    background-color: transparent;
    border-bottom: 0;
    position: relative;
}
.nfHeader {
    background-color: #f3f3f3;
    border-bottom: solid 1px #ccc;
    height: 90px;
}

.svg-nfLogo.signupBasicHeader {
    margin-left: -9px;
    margin-top: 0px;
}
.svg-nfLogo {
    text-decoration: none;
    vertical-align: middle;
    fill: #e50914;
    display: inline-block;
    line-height: 90px;
}

.authLinks.signupBasicHeader {
    margin: 0 3%;
}

.authLinks {
    float: right;
    color: #333;
    font-weight: 700;
    font-size: 19px;
    line-height: 90px;
    text-decoration: none;
    position: relative;
    top: -4px;
}

.authLinks:hover{
	text-decoration: underline;	
}

#appMountPoint .simpleContainer {
    padding-bottom: 95px;
}

.basicLayout.simplicity .simpleContainer {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

div.basicLayout .nfHeader, div.basicLayout .simpleContainer {
    background-color: #fff;
}

.simpleContainer {
    width: 100%;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

div.basicLayout .centerContainer {
    --layout-container-side-padding: 32px;
    padding: 20px 32px 60px;
    padding: 20px var(--layout-container-side-padding) 60px;
}
element.style {
    display: block;
    transform: none;
    opacity: 1;
    transition-duration: 250ms;
}

.centerContainer.firstLoad {
    display: block;
}

.centerContainer {
    overflow: hidden;
    display: none;
}

.centerContainer {
    margin: 0 auto 15px;
    padding: 20px 3% 60px;
    max-width: 978px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


div.basicLayout .planContainer, div.basicLayout .regContainer, div.basicLayout .verifyCardContainer {
    max-width: 340px;
}
.planContainer, .regContainer, .verifyCardContainer, .verifyCardPageContainer {
    text-align: center;
    max-width: 440px;
    margin: 0 auto;
}
div.basicLayout .stepLogoContainer {
    display: inline-block;
}
div.basicLayout .stepLogoContainer .stepLogo {
    margin: 100px 0 20px;
}
iv.basicLayout .paymentStepLogo, div.basicLayout .planStepLogo {
    width: 50px;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px;
    background-size: 50px;
    height: 50px;
}
.planContainer .stepLogo, .regContainer .stepLogo, .verifyCardContainer .stepLogo, .verifyCardPageContainer .stepLogo {
    display: block;
    margin: 10% 0 10%;
}
.planStepLogo {
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Checkmark.png) no-repeat 50% 50%;
    -webkit-background-size: 60px 60px;
    -moz-background-size: 60px;
    background-size: 60px;
    height: 60px;
}
.stepHeader {
    display: inline-block;
}
div.basicLayout .stepIndicator {
    text-align: inherit;
    font-size: 13px;
}
.stepIndicator {
    text-align: left;
    display: block;
    font-size: 13px;
    line-height: 19px;
}
div.basicLayout h1 {
    font-size: 32px;
}
.stepTitle {
    display: inline-block;
    font-weight: 700;
    font-size: 23px;
}
h1 {
    font-size: 27px;
    margin: 0 0 .4em;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
div.basicLayout .paymentContainer .checkmark-group--text, div.basicLayout .paymentContainer .contextBody, div.basicLayout .paymentContainer .contextRow, div.basicLayout .planContainer .checkmark-group--text, div.basicLayout .planContainer .contextBody, div.basicLayout .planContainer .contextRow, div.basicLayout .planFormContainer .checkmark-group--text, div.basicLayout .planFormContainer .contextBody, div.basicLayout .planFormContainer .contextRow, div.basicLayout .regContainer .checkmark-group--text, div.basicLayout .regContainer .contextBody, div.basicLayout .regContainer .contextRow, div.basicLayout .regFormContainer .checkmark-group--text, div.basicLayout .regFormContainer .contextBody, div.basicLayout .regFormContainer .contextRow, div.basicLayout .verifyCardContainer .checkmark-group--text, div.basicLayout .verifyCardContainer .contextBody, div.basicLayout .verifyCardContainer .contextRow {
    margin: 0;
    font-size: 18px;
}
.planContainer .contextBody, .regContainer .contextBody, .verifyCardContainer .contextBody, .verifyCardPageContainer .contextBody {
    margin: 30px 0;
    font-size: 19px;
}
.planContainer .contextRow, .regContainer .contextRow, .verifyCardContainer .contextRow, .verifyCardPageContainer .contextRow {
    max-width: 300px;
    display: inline-block;
}
.checkmark-group {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}
.checkmark-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: left;
}
ul {
    padding: 0;
}
.checkmark-group--row {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
}
ul>li {
    margin-left: 1.1em;
    margin-bottom: 5px;
    list-style-type: disc;
}
svg:not(:root) {
    overflow: hidden;
}

.checkmark-group--icon {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    color: #e50914;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 24px;
    width: 24px;
}
div.basicLayout .paymentContainer .checkmark-group--text, div.basicLayout .paymentContainer .contextBody, div.basicLayout .paymentContainer .contextRow, div.basicLayout .planContainer .checkmark-group--text, div.basicLayout .planContainer .contextBody, div.basicLayout .planContainer .contextRow, div.basicLayout .planFormContainer .checkmark-group--text, div.basicLayout .planFormContainer .contextBody, div.basicLayout .planFormContainer .contextRow, div.basicLayout .regContainer .checkmark-group--text, div.basicLayout .regContainer .contextBody, div.basicLayout .regContainer .contextRow, div.basicLayout .regFormContainer .checkmark-group--text, div.basicLayout .regFormContainer .contextBody, div.basicLayout .regFormContainer .contextRow, div.basicLayout .verifyCardContainer .checkmark-group--text, div.basicLayout .verifyCardContainer .contextBody, div.basicLayout .verifyCardContainer .contextRow {
    margin: 0;
    font-size: 18px;
}
.checkmark-group--text {
    margin-left: 10px;
    margin-top: 2px;
}
.checkmark-group--text {
    margin-left: 10px;
    margin-top: 2px;
}
.checkmark-group--row+.checkmark-group--row {
    margin-top: 20px;
}
div.basicLayout .contextStep .submitBtnContainer {
    max-width: 340px;
}
.simpleContainer .submitBtnContainer {
    margin-top: 24px;
}
.submitBtnContainer {
    text-align: center;
    max-width: 440px;
    margin: 0 auto;
}
div.basicLayout .nf-btn-primary, div.basicLayout .nf-btn-secondary {
    min-height: 64px;
    font-weight: 500;
    font-size: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 1;
}
.nf-btn.nf-btn-oversize {
    font-size: 19px;
    padding: .75rem 25.33333333px;
    min-width: 110px;
    min-height: 60px;
    width: 100%;
    line-height: 19px;
}
.nf-btn-solid.nf-btn-primary, .nf-btn-twotone.nf-btn-primary {
    color: #fff;
    background-color: #e50914;
}
.nf-btn {
    position: relative;
    font-size: 1rem;
    padding: .75rem 1.33333333rem;
    min-width: 74px;
    min-height: 48px;
    width: 100%;
}
.nf-btn {
    display: inline-block;
    text-decoration: none;
    line-height: 1rem;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .025rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    position: relative;
    min-height: 48px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.25);
    box-shadow: 0 1px 1px rgb(0 0 0 / 25%);
    color: #000;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
element.style {
    transition-duration: 250ms;
    opacity: 1;
}
.site-footer-wrapper {
    opacity: 1;
    margin-top: 0;
    background-color: #f3f3f3;
}
.site-footer-wrapper {
    min-width: 190px;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 20px;
    font-size: 1em;
    color: #757575;
    position: relative;
}
.footer-divider {
    height: 0;
    width: 100%;
    border-top: 1px solid #e5e5e5;
}
.site-footer {
    margin: 0 auto;
    padding-top: 30px;
    width: 90%;
}
.footer-top {
    padding: 0;
    margin: 0 0 30px;
}
.footer-top-a {
    color: #757575;
}
.copy-text a {
    color: #757575;
}
a {
    text-decoration: none;
    color: #0071eb;
}
a {
    background-color: transparent;
}
ul.structural {
    padding: 0;
    margin: 0;
}
.footer-links {
    max-width: 1000px;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    padding: 0;
}
ul.structural>li {
    list-style: none;
    margin-left: 0;
}

.footer-link-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 16px;
    display: inline-block;
    min-width: 100px;
    width: 24%;
    padding-right: 12px;
    vertical-align: top;
}
.footer-link {
    color: #757575;
}
.lang-selection-container {
    display: inline-block;
}
.nfSelectWrapper .selectArrow, .nfSelectWrapper.selectArrow {
    display: inline-block;
    width: 100%;
}
.nfSelectWrapper {
    display: inline-block;
    position: relative;
    max-width: 500px;
}
.lang-selection-container .nfLabel {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    margin: -1px;
    clip: rect(0 0 0 0);
    border: 0;
}
.nfLabel {
    font-size: 16px;
    color: #333;
}
.nfSelectWrapper .selectArrow .nfSelectPlacement, .nfSelectWrapper.selectArrow .nfSelectPlacement {
    position: relative;
}
.copy-text {
    color: #757575;
    margin: 20px 0;
    font-size: .75em;
    line-height: 1em;
}
.a11yAnnouncer {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.nfSelectWrapper .selectArrow.prefix .nfSelectPlacement.globe::before, .nfSelectWrapper.selectArrow.prefix .nfSelectPlacement.globe::before {
  content: '\f0ac';
}
.nfSelectWrapper .selectArrow.prefix .nfSelectPlacement::before, .nfSelectWrapper.selectArrow.prefix .nfSelectPlacement::before {
    top: 46%;
    left: 15px;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #333;
    font-size: 16px;
    position: absolute;
    pointer-events: none;
}	
.nfSelectWrapper .selectArrow.inFooter .nfSelect, .nfSelectWrapper.selectArrow.inFooter .nfSelect {
    color: inherit;
}
.nfSelectWrapper .selectArrow.prefix .nfSelect, .nfSelectWrapper.selectArrow.prefix .nfSelect {
    padding-left: 42px;
}
.nfSelect {
    background: #fff;
    font-size: 16px;
    height: 48px;
    border: 1px solid #a6a6a6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    padding: 10px 30px 12px 10px;
}
.nfSelectWrapper .selectArrow.prefix .nfSelectPlacement.globe::after, .nfSelectWrapper.selectArrow.prefix .nfSelectPlacement.globe::after {
  content: '\f0dd';
}
.nfSelectWrapper .selectArrow .nfSelectPlacement::after, .nfSelectWrapper.selectArrow .nfSelectPlacement::after {
    background-color: #fff;
    content: '';
    position: absolute;
    pointer-events: none;
    right: 10px;
    top: 8%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
	font-size: 18px;
	color: #333;
}
.svg-nfLogo .svg-icon-netflix-logo {	    
	 width: 153px;
	 padding-top: 11px;
	 padding-left: 28px;
}
@media screen and (max-width: 740px){
	.nfHeader.signupBasicHeader {
	    height: 75px;
	}
	.svg-nfLogo {
	    line-height: 75px;
	}
	.authLinks {
	    font-size: 16px;
	    line-height: 75px;
	}

	.footer-link-item {
    width: 32%;
}
	.svg-nfLogo .svg-icon-netflix-logo {	    
	    width: 153px;
	    padding-top: 11px;
	    padding-left: 28px;
	}
}

@media only screen and (max-width: 600px){
div.basicLayout .paymentContainer, div.basicLayout .planContainer, div.basicLayout .regContainer, div.basicLayout .verifyCardContainer {
    text-align: left;
}
div.basicLayout .planContainer .stepLogoContainer, div.basicLayout .regContainer .stepLogoContainer {
    margin-top: 30%;
}
div.basicLayout .planContainer .stepLogoContainer .stepLogo, div.basicLayout .regContainer .stepLogoContainer .stepLogo {
    margin-top: 0;
}
}
@media screen and (max-width: 500px){
	.nfHeader.signupBasicHeader {
	    height: 45px;
	}
	.svg-nfLogo {
	    line-height: 45px;
	}
	.authLinks.signupBasicHeader {
	    margin: 0 10px;
	}
	.authLinks {
	    font-size: 14px;
	    line-height: 45px;
	}
	.svg-nfLogo .svg-icon-netflix-logo {	    
	    width: 75px;
	}

	.footer-link-item {
    width: 49%;
	}
	div.basicLayout .svg-icon-netflix-logo {
	padding-top: 7px;
    padding-left: 13px;
}
}

