@charset "UTF-8";

body, html {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f3f3f3;
    color: #333;
    font-size: 16px;
    direction: ltr;
}

body {
    word-break: keep-all;
    min-width: 320px;
    margin: 0;
}

ul {
    padding: 0;
}

ul>li {
    margin-left: 1.1em;
    margin-bottom: 5px;
    list-style-type: disc;
}

h1 {
    font-size: 1.5em;
    color: #333;
    margin: 0 0 .4em;
    font-weight: 400;
}

h2, h3, h4, h5 {
    font-weight: 400;
    margin: .75em 0 .25em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

button {
    overflow: visible;
}

a {
    text-decoration: none;
    color: #0080ff;
    background-color: transparent;
}

a:hover{
	text-decoration: underline;	
    color: #0073e6;
}

b, strong {
    font-weight: 700;
}

.netflix-sans-font-loaded {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#hdSpace {
    height: 90px;
    position: relative;
}

body .member-header {
    min-width: 190px;
}

.member-header {
    background-color: rgba(0,0,0,.97);
    padding: 0 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

#hd {
    min-width: 1020px;
}

#hd {
    height: 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 135px;
    max-width: 1130px;
    font-family: 'Helvetica Neu' sans-serif;
}

.logo {
    position: absolute;
    left: 45px;
    top: 25px;
}

#hd .logo {
    position: absolute;
    top: -7px;
    text-decoration: none;
    padding: 18px 0;
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 115px;
}

.logo_img{
	width: 100%;
}

#hd .account-secondary-navigation {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    line-height: 70px;
}

body #hd .last {
    width: auto!important;
}

#account-tools {
    float: right;
    height: 70px;
}

#profileSelector {
    height: 70px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    outline: 0;
}

#account-tools .current-profile {
    font-weight: 700;
}

#profileSelector .current-profile {
    padding: 0 45px 0 0;
}

#profileSelector .current-profile .avatar {
    margin: 5px;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#profileSelector .profiles-container {
    /* visibility: hidden; */
    position: absolute;
    width: 156px;
    left: -56px;
    opacity: 0;
    transition: opacity .1s;
}

#profileSelector .profiles-container.show{
	opacity: 1;
}

ul.structural {
    padding: 0;
    margin: 0;
}

#profileSelector .profile-manage {
    background-color: rgba(0,0,0,.97);
}

ul.structural>li {
    list-style: none;
    margin-left: 0;
}

#profileSelector .manage {
    margin-bottom: 0;
    padding: 10px 5px 10px 0;
}

#profileSelector a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 10px;
    line-height: 32px;
}

#profileSelector .profiles {
    overflow: hidden;
    height: auto;
    background-color: rgba(0,0,0,.97);
    border-top: solid 2px #e5e5e5;
    position: relative;
}

#profileSelector .profile {
    overflow: hidden;
    padding: 10px 5px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#profileSelector .profile img {
    float: left;
    margin-right: 10px;
    width: 32px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#account-tools .name {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#profileSelector .links {
    overflow: hidden;
    border-top: 1px solid #666;
    padding: 10px 0 10px 5px;
    background-color: rgba(0,0,0,.97);
    font-weight: 700;
}

#profileSelector .links a {
    padding: 0 5px;
}

#account-tools .current-profile>.profile-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    margin-left: 6px;
    display: inline-block;
    vertical-align: middle;
}

#profileSelector .trigger {
    /* visibility: hidden; */
    /* opacity: 0; */
    bottom: 0;
    top: inherit;
    left: 11px;
    width: 0;
    opacity: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e5e5e5;
    border-top: 0;
    position: absolute;
    margin-top: -3px;
    right: 15px;
    transition: opacity .1s;
}

#profileSelector .trigger.show{
	opacity: 1;
}

#profileSelector a:hover{
	text-decoration: underline;
}

body .bd {
    margin: 15px 0 0;
    padding: 0;
}

.responsive-account-container {
    display: block;
    width: 90%;
    font-size: 1em;
    min-width: 300px;
    min-height: 400px;
    position: relative;
    color: #333;
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto;
}

.responsive-account-container-phone{
	min-height: 300px;	
}

.responsive-account-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.account-header-inline {
    vertical-align: middle;
    display: inline-block;
}

.account-section-membersince {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #555;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: .8rem;
    font-weight: 800;
    margin-left: 20px;
    padding: 5px 14px 5px 0;
    text-align: center;
}

.account-section-membersince--svg {
    background: url(https://assets.nflxext.com/ffe/siteui/account/svg/membersince.svg) no-repeat 0 0;
    height: 26px;
    width: 26px;
    margin-right: 5px;
    padding-right: 26px;
}

.responsive-account-content {
    font-size: 1em;
}

.account-section {
    margin-bottom: 5px;
    background: #fff;
    border: 1px solid #999;
    padding: 10px;
    position: relative;
}

.membership-section-wrapper {
    padding-bottom: 10px;
}

.membership-section-wrapper.membership-section-with-button {
    padding-bottom: 80px;
}

.account-section-heading {
    font-size: 1.14em;
    color: #757575;
    font-weight: 400;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    line-height: 1em;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .1px;
    border-radius: 2px;
    user-select: none;
    text-align: center;
    box-sizing: border-box;
    border: 0;    
    color: #000;
    background-color: #e6e6e6;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e6e6e6),to(#ddd));
    background-image: -webkit-linear-gradient(top,#e6e6e6,#ddd);
    background-image: -moz- oldlinear-gradient(top,#e6e6e6,#ddd);
    background-image: -o-linear-gradient(top,#e6e6e6,#ddd);
    background-image: linear-gradient(to bottom,#e6e6e6,#ddd);
    box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
    
    position: relative;
    padding: 24.5px 2em;
    min-width: 74px;
    min-height: 50px;
    margin: .5em .5em .5em 0;
    
    font-size: inherit;
    display: block;
    width: 95%;
}

.btn-gray, .btn-plain {
    color: #000;
    background-color: #e6e6e6;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e6e6e6),to(#ddd));
    background-image: -webkit-linear-gradient(top,#e6e6e6,#ddd);
    background-image: -moz- oldlinear-gradient(top,#e6e6e6,#ddd);
    background-image: -o-linear-gradient(top,#e6e6e6,#ddd);
    background-image: linear-gradient(to bottom,#e6e6e6,#ddd);
    -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
}

.btn-plain:hover{
	text-decoration: none;
	color: #000;
}

.btn-drop{
	background: #e50914;	
	color: #fff;
}


.btn.btn-small {
    display: block;
    width: 100%;
    padding: 0;
    margin: .5em auto;
    line-height: 50px;
}
.btn.btn-drop{
	color: #fff;
    background: #e50914;
}
.btn.account-cancel-button, .btn.account-pause-button {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 90%;
    margin-left: 5%;
    text-transform: none;
}

.account-section-content {
    position: relative;
}

.account-subsection {
    position: relative;
}

.account-section-item {
    margin-bottom: 15px;
}

.account-section-email {
    font-weight: 700;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.account-section-item-disabled {
    color: #757575;
}

.account-section-link {
    color: #333;
    display: block;
    width: 100%;
    /* border-top: 1px solid #ccc; */
    background: transparent;
    margin: 0;
    text-align: left;
    border: none;
    padding: 0;
}

.account-section-link:hover{
	text-decoration: underline;
}

.account-section-form{
	border-top: 1px solid #ccc;
	padding-top: 14px;
}

.clearfix:after {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

.account-subsection~.account-subsection {
    border-top: 1px solid #999;
    padding-top: 35px;
}

.wallet--mop {
    font-weight: 700;
    line-height: 1.5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.text-payment, .text-payment-pbl {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    speak: normal;
    display: inline-block;
}

.mopType {
    unicode-bidi: isolate;
    direction: ltr;
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.site-footer-wrapper {
    min-width: 190px;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 20px;
    font-size: 1em;
    color: #757575;
    position: relative;
}

.footer-divider {
    height: 0;
    width: 100%;
    border-top: 1px solid transparent;
}

.site-footer {
    margin: 0 auto;
    padding-top: 30px;
    width: 90%;
}

.footer-top {
    padding: 0;
    margin: 0 0 30px;
}

.footer-top-a {
    color: #757575;
}

.footer-top-a:hover {
    color: #757575;
}

.footer-links {
    max-width: 1000px;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer-link-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 16px;
    display: inline-block;
    min-width: 100px;
    width: 24%;
    padding-right: 12px;
    vertical-align: top;
}

.footer-link, .footer-link:hover {
    color: #757575;
}

.service-code-wrapper {
    color: #757575;
    margin: 45px 0 20px;
}

.service-code {
    border: 1px solid #757575;
    padding: 8px;
    display: inline-block;
    color: #757575;
    font-size: .8521em;
    min-width: 90px;
    text-align: center;
}

.service-code:hover{
	text-decoration: none;
	color: #757575;
}

.pointer {
    cursor: pointer;
}

.copy-text {
    color: grey;
    margin: 20px 0;
    font-size: .75em;
    line-height: 1em;
}

.copy-text .copy-text-block+.copy-text-block {
    margin-top: 4px;
}

.headline {
    font-weight: 900;
    margin: 0;
}

.secondary {
    line-height: 22px;
    margin: 1rem 0;
}

.change-phone-form{
	margin-top: 2rem;	
}

.simpleForm.structural.ui-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul.structural li.phone-number {
    border: 1px solid #b3b3b3;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}

.nfInput {
    max-width: 500px;
    position: relative;
}

.nfInput .nfInputPlacement {
    position: relative;
}

.nfTextField {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    color: #000;
    padding: 10px 11px;
    height: 44px;
    min-width: 300px;
}

.nfTextField:invalid, .nfTextField:valid {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.nfInput .nfTextField {
    height: 48px;
    padding: 10px 10px 0;
    width: 100%;
}

.nfInput.externalLabel .nfTextField {
    padding: 0 10px;
}

#id_password, #id_phoneNumber {
    font-size: 18px;
    padding: 10px;
}

#id_phoneNumber {
    border: 0;
}

.change-phone-buttons{
	margin-top: 1.5rem;
}

.nf-btn {
    display: inline-block;
    text-decoration: none;
    line-height: 1rem;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .025rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    position: relative;
    min-height: 48px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.25);
    box-shadow: 0 1px 1px rgb(0 0 0 / 25%);
    color: #000;
}

.nf-btn-retro {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}

.nf-btn {
    position: relative;
    font-size: 1rem;
    padding: .75rem 1.33333333rem;
    min-width: 74px;
    min-height: 48px;
    width: 100%;
}

.nf-btn-retro.nf-btn-primary {
    background-color: #0f84fa;
    color: #fff;
    padding: 13px 2rem;
    cursor: pointer;
    text-decoration: none;
}

.nf-btn.nf-btn-small {
    display: block;
    padding: 0;
    line-height: 50px;
}

.nf-btn-solid.nf-btn-secondary, .nf-btn-twotone.nf-btn-secondary {
    color: #000;
    background-color: #ccc;
}

.ui-message-container {
    display: table;
    width: 100%;
    margin: 10px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.ui-message-security-pass {
    background: #03aefd;
}

.ui-message-security-pass>.ui-message-svg-icon {
    padding: 20px 0 20px 20px;
    margin-right: -13px;
}

.ui-message-security-pass>.ui-message-svg-icon i {
    font-size: 20px;
    color: white;
}

.ui-message-contents {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 10px 20px 20px;
    color: #fff;
}

.nfInput .inputError {
    font-size: 13px;
    color: #b92d2b;
    display: none;
}

.nf-btn:disabled {
    cursor: default;
    opacity: .5;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

ul.structural li.phone-number .inputError {
    position: absolute;
}

.modal-btn{
	flex: 0 0 45%;
	overflow: hidden;
	font-weight: 500;
    font-size: 0.95rem;
    margin-bottom: 0 !important;
}

.modal-btn:hover{
	color: #000 !important;
}

.modal-body{
	text-align: center;
}

.modal-content{
    background: #f3f3f3;
}

.modal-content .headline{
	font-size: 1.5em;
	overflow: hidden;
}

.fail-modal-title{
	font-size: 1.1em;
}

.nfTextField:disabled {
    color: #a6a6a6;
    border-color: #ccc;
}

.nfInput .placeLabel {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #8c8c8c;
    font-size: 14px;
    -webkit-transition: font .1s ease,top .1s ease,-webkit-transform .1s ease;
    transition: font .1s ease,top .1s ease,-webkit-transform .1s ease;
    -o-transition: font .1s ease,top .1s ease,-o-transform .1s ease;
    -moz-transition: font .1s ease,top .1s ease,transform .1s ease,-moz-transform .1s ease;
    transition: font .1s ease,top .1s ease,transform .1s ease;
    transition: font .1s ease,top .1s ease,transform .1s ease,-webkit-transform .1s ease,-moz-transform .1s ease,-o-transform .1s ease;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nfInput .hasText+.placeLabel, .nfInput .nfTextField:focus+.placeLabel {
    top: 4px;
    font-size: 11px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.email-headLine{
    margin: 0 0 .55em;
}

.simpleEmailForm .input_id{
	width: 100%;
}

.simpleEmailForm li:last-of-type {
	margin-top: 2em;
}

.change-password-form .nfFormSpace {
    margin-bottom: 5%;
}

.change-password-form .nfFormSpace:first-child {
    margin-bottom: 4%;
}

.change-password-form ul{
	display: block !important;
}

.change-password-form label {
	width: 100%;
}

.nfTextField:focus{
	outline: none;
}

@media only screen and (max-width: 1100px){
	#account-tools .current-profile>.profile-arrow {
	    left: 38px;
	}
	#profileSelector .profiles-container {
	    left: -84px;
	}
}

@media only screen and (max-width: 1020px){
	#hd {
	    min-width: 100px;
	}
}

@media only screen and (max-width: 740px){
	#hdSpace {
	    height: 51px;
	}
	#hd {
	    height: 51px;
	    padding-left: 100px;
	}
	#hd .logo {
	    top: -12px;
	    left: 9px;
	    padding: 12px 0;
	}
	#hd .account-secondary-navigation {
	    line-height: 51px;
	}
	#account-tools {
	    height: 51px;
	}
	#profileSelector {
	    height: 51px;
	    line-height: 48px;
	}
	#profileSelector .current-profile {
	    padding: 0;
	}
	#profileSelector .current-profile .avatar {
	    margin: 0;
	    width: 51px;
	    height: 51px;
	    border: 0;
	}
	#account-tools .current-profile>.profile-arrow {
	    display: none;
	}
	#profileSelector .trigger {
	    display: none;
	}
	#profileSelector .profiles-container {
	    right: 0;
	    border: solid 1px #b3b3b3;
	    left: auto;
	    margin-top: -1px;
	}
	h1 {
	    font-size: 1.5em;
	}
	.account-section-membersince {
	    font-size: 13px;
	    margin-left: 15px;
	    vertical-align: sub;
	}
	.footer-link-item {
	    width: 32%;
	}
}

@media only screen and (min-width: 740px){
	.responsive-account-container {
	    width: 95%;
	    max-width: 1024px;
	    font-size: 1em;
	}
	h1 {
	    font-size: 2.15em;
	    margin: 0 0 .55em;
	}
	.account-section-header {
	    width: 270px;
	    position: absolute;
	    left: 0;
	    padding-right: 10px;
	    z-index: 2;
	}
	.btn {
	    width: auto;
	    display: inline-block;
	    padding: 17px 2em;
	    margin-top: -3px;
	    margin-left: 15px;
	}
	.account-section-content {
	    margin-top: 15px;
	    padding-left: 270px;
	}
	.account-section-item {
	    margin-bottom: 10px;
	}
	.nfInput .placeLabel {
	    font-size: 16px;
	}
}

@media only screen and (min-width: 500px){
	body .bd {
	    margin: 20px 30px 0;
	}
	.account-section {
	    border-top: 1px solid #999;
	    border-right: none;
	    border-bottom: none;
	    border-left: none;
	    padding: 0;
	    background-color: inherit;
	    min-height: 4.5em;
	}
	.membership-section-wrapper.membership-section-with-button {
	    padding-bottom: 10px;
	}
	.account-section-heading {
	    font-size: 1.125em;
	}
	.btn.btn-small {
	    display: inline-block;
	    font-size: 13px;
	    padding: 12px 2em;
	    min-width: 98px;
	    min-height: 37px;
	    margin-right: .5em;
	    padding-left: 1em;
	    padding-right: 1em;
	    width: auto;
	    line-height: 1em;
	}
	.btn.account-cancel-button, .btn.account-pause-button {
	    position: relative;
	    width: 200px;
	    max-width: 200px;
	    display: block;
	    margin: 20px 10px 10px 0;
	}
	.account-section-group {
	    float: left;
	    width: 49%;
	    background-color: inherit;
	}
	.account-section-group+.account-section-group {
	    text-align: right;
	    float: right;
	}
	.account-section-link {
	    color: #0073e6;
	    display: inline;
	    padding-right: 0;
	    border-top: none;
	    padding-top: 0;
	    text-align: right;
	}	
	.account-section-form {
	    border-top: none;
	    padding: 0;
	}

	.nf-btn.nf-btn-small {
	    display: inline-block;
	    font-size: 13px;
	    padding: .75rem 17.33333333px;
	    min-width: 98px;
	    min-height: 37px;
	    margin-right: .5rem;
	    padding-left: 1rem;
	    padding-right: 1rem;
	    width: auto;
	    line-height: 1rem;
	}	
}

@media only screen and (max-width: 500px){
	.account-subsection~.account-subsection.is-external-gift-redemption {
	    padding: 0;
	}
	.footer-link-item {
	    width: 49%;
	}
	.nf-btn{
	    margin: 10px 0;
	}
}


@media only screen and (max-width: 499px){
	.account-section-membersince {
	    margin-left: 0;
	    margin-bottom: 10px;
	}
	.responsive-account-container .account-header-inline {
	    display: block;
	    margin-bottom: 0;
	}
	.account-section-link:after {
		font-weight: 900;
	    font-family: "Font Awesome 5 Free";
	    content: '\f054';
	    position: absolute;
	    right: 10px;
	    color: #999;
	}
	a:hover{
	    color: #333;
	}
}
